selenium==3.141.0
browsermob-proxy
redis
requests
pymongo
PyMySQL
opencv-python-headless
beautifulsoup4
cssselect
lxml
mimerender
flask
urllib3
livereload
flask_cors
twisted
pillow
googletrans==4.0.0-rc1
shapely
supervisor
readmdict
pyquery
pyside6
gevent
pytesseract
websocket
gevent-websocket
filetype
pysubs2
pykeyboard
scikit-build
cmake
flask_login
flask_wtf
wtforms
itsdangerous
sqlalchemy
flask_sqlalchemy
flask_jwt
pytesseract
msedge-selenium-tools
webdriver-manager
chardet
flask-socketio
pandas
apscheduler
schedule
scikit-learn
numpy
psutil
scikit-learn
mongoengine
user_agent
pypinyin
ffmpeg-python
cryptography
pyttsx3
pyautogui
paddlepaddle
paddleocr>=2.0.1
keyboard
colorama
python-docx
pywin32
textract
requests
openai
windows-curses
pyyaml
