selenium==3.141.0
browsermob-proxy
redis
requests
pymongo
PyMySQL
opencv-python-headless
beautifulsoup4
cssselect
lxml
mimerender
flask
urllib3
livereload
flask_cors
twisted
pillow
googletrans==4.0.0-rc1
shapely
supervisor
readmdict
pyquery
pyside6
gevent
pytesseract
websocket
gevent-websocket
filetype
pysubs2
pykeyboard
azure-cognitiveservices-speech
scikit-build
cmake
flask_login
flask_wtf
wtforms
itsdangerous
sqlalchemy
mysql-connector-python
flask_sqlalchemy
flask_jwt
pytesseract
msedge-selenium-tools
webdriver-manager
chardet
flask-socketio
pandas
apscheduler
schedule
scikit-learn
numpy
psutil
scikit-learn
mongoengine
geoip2
user_agent
pypinyin
ffmpeg-python
cryptography
pyttsx3