# ./docker-compose/docker-compose.yml
docker_compose_full=portainer ztncui baota phpmyadmin mongo mysql nginx-proxy-manager gogs mediawiki mautic confluence nextcloud bookstack
docker_compose_server=portainer ztncui baota phpmyadmin mongo mysql nginx-proxy-manager gogs mediawiki mautic confluence nextcloud
docker_compose_hk=portainer ztncui baota phpmyadmin portainer ddnsgo
docker_compose_local=portainer baota phpmyadmin mongo mysql nginx-proxy-manager gogs mediawiki mautic confluence nextcloud bookstack
docker_compose=portainer ztncui phpmyadmin mongo mysql nginx gogs mediawiki mautic confluence nextcloud bookstack
WEB_DIR=/home/www
IS_SNAP_SERVICE=0
MAIN_DIR=
DOCKER_DIR=
MAIN_IP=
ZEROTIER_MYADDR=
ZEROTIER_DOMIAN=zerotier.hk.12gm.com
MYSQL_ROOT_USER=root
MYSQL_ROOT_PASSWORD=
MYSQL_USER=mysql
MYSQL_PASSWORD=
MAUTIC_DB_NAME=mautic
BOOKSTACK_DB_NAME=bookstack
ZTNCUI_PASSWD=root
