body {
    background-color: #262635;
}

.userText {
    color: white;
    font-family: 'Segoe UI'; 
    font-size: 20px;
    text-align: right;
    line-height: 38px;
}

    .userText span {
        background-color: #1858e4;
        padding: 5px;
        border-radius: 8px;
    }

.assistantText {
    color: white;
    font-family: 'Segoe UI';
    font-size: 20px;
    text-align: left;
    line-height: 38px;
}

    .assistantText span {
        background-color: #a1148f;
        padding: 5px;
        border-radius: 8px;
    }
